<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CONTRATO DE LICENCIA PARA EL USUARIO FINAL</title>

        <link rel="stylesheet" type="text/css" href="//ubistatic2-a.akamaihd.net/legal_portal/prod/css_new/bootstrap.min.css?v=45">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/eula.css') }}">
        <link rel="shortcut icon" type="image/png" href="favicon_legal_new.png"/>

        <!-- Fuentes -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- bootStrap -->

    </head>

    <body class="docpage">

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid max-width">
                    <div class="row">
                        <div class="col-12">
                            <div class="logo-wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='header_title'>CONTRATO DE LICENCIA PARA EL USUARIO FINAL</div>
    </header>

    <main>
        <div class="container-fluid max-width">
            <div class="col-sm-12 document-container">
                <article>
                    <h1>CONTRATO DE LICENCIA PARA EL USUARIO FINAL</h1>
                    <p></p>

                </article>
            </div>
        </div>
    </main>



    </body>
    <script type="text/javascript">

    </script>
</html>