<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POLITICA DE USO DE DATOS PERSONALES</title>


    <!-- Fuentes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootStrap -->

</head>

    <body class="docpage">

    <header>


        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid max-width">
                    <div class="row">
                        <div class="col-12">
                            <div class="logo-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="container-fluid max-width">
            <div class="col-sm-12 document-container">

                    <h1 align="center">POLÍTICA DE USO DE DATOS PERSONALES</h1>
            </div>
        </div>
    </main>

    </BODY>
</HTML>
